@{
    string username = User.Identity.Name;
}

<div class="dashboard-container">
    <div class="header">
        <center>
            <h2>Bienvenido, @username</h2>
        </center>
    </div>


<div>
   Esta pagina solo puedes ver el administrador,
   <br>
   aun falta terminar 
</div>

<div class="container">
          <h3 class="text-center">Lista de Eventos</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Color</th>
                        <th>Todo el día</th>
                        <th>Creado</th>
                        <th>Modificado</th>
                    </tr>
                </thead>
                <tbody>

                  
                </tbody>
            </table>
        </div>
    </div>