@{
    string username = User.Identity.Name;
}

<div class="dashboard-container">
    <div class="header">
        <center>
            <h2>Bienvenido, @username</h2>
        </center>
    </div>


<div>
   Esta pagina solo puedes ver el administrador
   Aqui se va a mostrar una lista de usuarios 
   donde se va a poder crear, actualizar, eliminar 
   lo cual, solo el administrador esta autorizado para eso...
</div>