@using Agenda.Models.Dto
@model UpdateProfileModel


<div class="dashboard-container">
    <div class="header">
        <center>
            <h2>Actualizar Perfil</h2>
            <br>
            <div>
               <img src="~/Uploads/@Model.ProfilePicture" alt="Profile Picture" width="100px" height="100px" style="border-radius: 50%;" />
            </div>
            <h4>Bienvenido, @User.Identity.Name</h4>
        </center>
    </div>
</div>

<form asp-action="UpdateProfile" method="post" enctype="multipart/form-data" id="updateProfileForm">

    <div class="form-group">
        <label asp-for="DNI">Cedula</label>
        <input asp-for="DNI" class="form-control" />
        <span asp-validation-for="DNI" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName">Nombre</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Apellido</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Correo Electrónico</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone">Teléfono</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <br>

    <button type="button" class="btn btn-primary" id="btnUpdateProfile">Actualizar Perfil</button>
</form>
<br>

<div class="calendar-button">
    <a href="@Url.Action("Display", "Calendario")" class="btn btn-primary">Calendario</a>
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
       document.getElementById('btnUpdateProfile').addEventListener('click', function () {
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Se actualizará la información del usuario.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('updateProfileForm').submit(); // Corregir aquí
                }
            });
        });
    </script>
}

