@{
    string username = User.Identity.Name;
}

<div class="dashboard-container">
    <div class="header">
        <center>
            <h2>Bienvenido, @username</h2>
        </center>
    </div>

    <div id="carrusel-contenido">
        <div id="carrusel-caja">
            <div class="carrusel-elemento">
                <img class="imagenes"
                    src="https://tribunadeloscabos.s3.us-west-2.amazonaws.com/2022/11/Canchas-de-futbol-en-San-Jose-del-Cabo.jpeg"
                    alt="Imagen 1">
            </div>
            <div class="carrusel-elemento">
                <img class="imagenes" src="/Images/cancha.jpg" alt="Imagen 2">
            </div>
            <div class="carrusel-elemento">
                <img class="imagenes" src="/Images/pelota.jpg" alt="Imagen 3">
            </div>
        </div>
    </div>
    <br>

    <div class="calendar-button">
        <a href="@Url.Action("Display", "Calendario")" class="btn btn-primary">Crear Evento</a>
    </div>

    <style>
        /* CARRUSEL */
        #carrusel-contenido {
            overflow: hidden;
            width: 100%;
        }

        #carrusel-caja {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carrusel-elemento {
            min-width: 100%;
            box-sizing: border-box;
        }

        .imagenes {
            width: 100%;
            max-height: 500px;
            height: auto;
        }
    </style>

    @section scripts {
        <script>
            // JavaScript para la funcionalidad de auto-reproducción
            setInterval(function () {
                let carruselCaja = document.getElementById('carrusel-caja');
                carruselCaja.style.transition = "transform 0.5s ease-in-out";
                carruselCaja.style.transform = 'translateX(' + (-carruselCaja.clientWidth) + 'px)';
                setTimeout(function () {
                    let primerElemento = carruselCaja.firstElementChild;
                    carruselCaja.appendChild(primerElemento);
                    carruselCaja.style.transition = "none";
                    carruselCaja.style.transform = 'translateX(0)';
                }, 500);
            }, 3000); // Cambia la imagen cada 3 segundos (3000 milisegundos)
        </script>
        </section>
}