<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
</head>

<body>

   <section class="home" id="home">
      <div class="container-fluid">
         <div class="row min-vh-100 align-items-center">
            <div class="content text-center text-md-left">
               <h1>Un lugar perfecto </h1>
               <p>Bienvenido a nuestro servicio de reserva de canchas de fútbol. Vive la emoción del juego, organiza
                  partidos con amigos o compite en ligas locales. Nuestras canchas están disponibles para satisfacer
                  todas tus necesidades futbolísticas.</p> <br>
               <a href="/UserAuthentication/Registration" class="btn btn-primary">Crear Evento</a>
            </div>
         </div>
      </div>
   </section>
</body>

</html>
